.water {
  color: #0077b6;
}

.energy {
  color: #dc2f02;
}

.bg-body-tertiary {
  background-color: #171717 !important;
}


.contact-form {
  color: whitesmoke !important;
}

.contact-btn {
  text-decoration: none;
}

#footer {
  background-color: #171717 !important;
}

.footer-logo {
  margin-bottom: 1.5rem !important;
}
